:root {
    --black-bkg: #222222;
    --pink-bkg: #F1E4E6;
    --pink-color: #F18B99;
    --sales-bkg: #4E4544;
    --products-color: #9F9F9F;
    --products-bkg: #F8F8F8;
    --text-color: #5D5D5D;
    --price-color: #F16D7F;
    --border-color: #FF6A6A;
    --button-color: #F26376;
    --border-bkg: #ffffff;
    --advantage-bkg: #222224;
    --advantage-color: #FBFBFB;
} 

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: var(--black-bkg);
}

.header_wrp {
    display: flex;
    min-height: 75px;
    align-items: center;
    justify-content: space-between;
}

.header__menu-list {
    display: flex;
    align-items: center;
}

.header__burger {
    border: none;
    background-color: transparent;
}

.header__logo {
    margin: 0 41px 0 0;
}
.header__burger-icon {
    max-height: 23px;
}

.header__person-icon {
    max-height: 29px;
}

.header__basket-icon {
    max-height: 27px;
}

.header__link {
    margin: 0 0 0 33px;
}

.header__nav {
    display: none;
}

.brand {
    display: flex;
    margin-bottom: 65px;
}

.brand__img {
    height: 765px;
    width: 800px;  
}

.brand__title-wrp {
    flex-grow: 1;
    background-color: var(--pink-bkg);
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__title-lower {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.brand__title-pink {
    color: var(--pink-color);
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    height: 260px;
    width: 360px;
    background: var(--sales-bkg);
}

.sales__item--woman {
    background-image: url(../img/person1.jpg);
    width: 360px;
    height: 260px;
}

.sales__item-text {
    text-align: center;
    padding-top: 105px;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sales__item-title {
    text-align: center;
    color: var(--pink-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
}

.sales__item--man {
    background-image: url(../img/person2.jpg);
    width: 360px;
    height: 260px;
}

.sales__item--kids {
    background-image: url(../img/person3.jpg);
    width: 360px;
    height: 260px;
}

.sales__item--shoes {
    height: 180px;
    width: 100%;
    background-image: url(../img/person4.jpg);
    margin-top: 30px;
}

.shoes {
    padding-top: 65px;
}

.uppercase {
    text-transform: uppercase;
}

.products__title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 96px;
}

.products__sub-title {
    text-align: center;
    padding-top: 6px;
    margin-bottom: 48px;
    font-size: 14px;
    line-height: 17px;
    color: var(--products-color);
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 49px;
}

.products__item {
    padding: 0 30px 30px 0;
}

.products__item-img {
    padding-bottom: 25px;
    max-width: 350px;
}

.products__item-title {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 13px;
}

.products__item-text {
    max-width: 314px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--text-color);
}

.products__item-price {
    padding-top: 18px;
    color: var(--price-color);
}

.button__main {
    padding: 14px 39px;
    border: 1px solid var(--border-color);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0); 
    background-color: var(--border-bkg);
    margin-bottom: 95px;
}

.button {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: var(--button-color);
    text-align: center;
}

.advantage {
    background-color: var(--advantage-bkg);
    max-height: 341px;
}

.advantage__title {
    text-align: center;
    padding-top: 30px;
    color: var(--advantage-color);
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 40px;
}

.advantage__list {
    display: flex;
    justify-content: space-between;
    min-height: 341px;
    text-align: center;
}

.advantage__item {
    color: var(--advantage-color);
}

.advantage__item-img {
    padding-bottom: 28px;
}

.advantage__item-title {
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 24px;
}

.advantage__item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: 360px;
}